body {
  font-family: "Helvetica Neue", arial, "Trebuchet MS", sans-serif;
  font-size: small;
  line-height: 1.4em;
  color: #444;
  background: #222 url(/images/odesign-background.gif);
  padding-top: 0; margin: 0;
}

#container {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #222;
}

#toppic {
  background: white url(/images/iltarusko.jpg) top left;
  width: 600px;
  height: 133px;
  position: relative;
}

#lang {
  position: absolute;
  right: 15px;
  top: 10px;

  a {
    color: #000;
  }
}



#teaser {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  font-size: 130%;
  line-height: 1.2em;
  color: #666;
  background: #FCB22D url(/images/top.gif) no-repeat top left;

  a {
    color: #795615;
  }
}

#teaser p {
  margin: 0;
  padding: 25px;
  background: url(/images/bottom.gif) no-repeat bottom;
}

h1, h2 {
  margin-top: 20px;
  font-family: "American Typewriter", "Courier New" Monaco, Courier, serif;
  color: #999;
  letter-spacing: 5px;
  font-weight: normal;
}

h1 {
  font-size: 250%;
}

h2 {
  color: #777;
  margin-bottom: 0;
}

#container h1 {
  margin-left: 50px;
}

h1 #o {
  color: #67B543;
}

h1 #n {
  color: #FCB22D;
}

a {
  text-decoration: none;
  color: #D89925;
  border: 0;
  border-bottom: 1px dotted #444;
}

a:hover {
  border-bottom: 1px solid #666;
}

#content {
  padding: 0 40px;
}

dt {
  font-weight: bold;
  margin-top: 5px;
}

dd {
  margin-left: 15px;
}

#arvot dd {
  font-size: 85%;
}

#arvot {
  margin-top: 0;
  padding: 10px;
  background-color: #bbb;
  border: 1px solid #777;
}

#footer {
  display: block;
  padding: 10px 40px;
  height: 200px;
}

#footer img {
  margin: 35px 0 0 50px;
  float: left;
}

#footer dl {
  margin: 30px 50px 0 0;
  display: inline;
  float: right;
}

#footer dd {
  margin-left: 0;
}

a abbr {
  border-width: 0;
}

